.about-basic{
	background: var(--blue);
	margin-top: -250px;
	color: #fff;
	padding: 230px 0 0;
	max-height: 800px;
	margin-bottom: 450px;
	.list-wrapper{
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		ul{
			width: 50%;
		}
	}
	@media (max-width: 991.98px) {
		margin-bottom: 100px;
		padding-bottom: 30px;

		.list-wrapper{
			flex-wrap: wrap;
			ul{
				width: 100%;
			}
		}
	}
}

.deserts{
	margin-top: 50px;
	&-wrapper{
		display: flex;
		justify-content: space-between;
		margin: 40px 0;
		align-items: stretch;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
		}
	}
	&-item{
		width: 25%;
		margin-bottom: 30px;
		&:not(:last-child){
			padding-right: 20px;
		}
		.item-content{
			background: #f3f3f3;
			padding: 35px 40px 0 35px;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: baseline;
			justify-content: space-between;
			p{
				min-height: 160px;
				margin: 100px 0;
				@media (max-width: 991.98px) {
					margin: 20px 0;
				}
			}
			.img_dots{
				display: block;
				margin: 0 auto;
			}
			@media (max-width: 991.98px) {
				padding: 35px 20px 0 20px;
			}
		}
		@media (max-width: 991.98px) {
			width: 50%;
			&:nth-child(2){
				padding: 0;
			}
		}
	}
}

.sert{
	margin: 50px 0;
	#sert-slider{
		margin: 40px 0;
	}
	&.completed{
		@media (max-width: 991.98px) {
			.slider-item{
				text-align: center;
			}
		}
	}
	@media (max-width: 991.98px) {
		h3{
			text-align: center;
		}
	}	
}