$color: #2e6bd1;

.btn {
    display: inline-block;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &.blue{
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color;
            border-radius: 0rem;
            z-index: -2;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: -250%;
            left: -10%;
            width: 120%;
            height: 250%;
            background-color: #204b9273;
            -webkit-transition: .3s;
            transition: .3s;
            border-radius: 50%;
            z-index: -1;
        }

        &:hover {
            color: #fff;

            &:before {
                bottom: -80%;
                animation-name: fadeInTop;
                animation-duration: .3s; 
                animation-delay: .37s;
                animation-fill-mode: forwards;
            }
        }
    }

}