.header{
	&.service{
		background: url(../img/service_bg_tocar.jpg) no-repeat;
		background-size: cover;
  		color: #fff;
  		padding: 200px 0 0px;
  		.breadcrump{
  			a{
  				color: #fff;
  			}
  			.breadcrumb-item{
				&.active{
					color: #9C9C9C;
				}
  			}
  		}
  		h1{
  			margin-bottom: 20px;
  		}
  		h1 + p{
  			color: #F4F4F4;
			font-size: 21px;
			font-weight: 400;
			line-height: 31.50px;
  		}
  		form{
  			background: #fff;
  			padding: 30px 60px 10px;
  			color: #212121;
  			p{
  				text-align: center;
  			}
  			@media (max-width: 991.98px) {
  				padding: 30px 30px 10px;
  			}
  		}
	}

}
.compound{
	padding: 50px 0;
	h2{
		margin-top: 40px;
	}
	&-wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 30px;
	}
	&-item{
		width: 48%;
		margin-bottom: 30px;
		background: var(--blue);
		padding: 20px;
		@media (max-width: 991.98px) {
			width: 100%;
		}
	}
	.item-container{
		color: #fff;
	}
	&-item-title{
		display: flex;
		margin-bottom: 15px;
		img{
			margin-right: 20px;
		}
	}
}

#clients-review{
	margin-bottom: 30px;
	.slider-item{
		text-align: center;
		background: #f3f3f3;
		padding: 30px;
		img{
			margin-bottom: 20px;
		}
		.autor-row{
			margin-top: 20px;
			font-weight: bold;
		}

	}
}