.header{
	&.service{
		background: url(../img/service_bg_tocar.jpg) no-repeat;
		background-size: 130%;
		background-position-y: 165px;
		background-position-x: -200px;
  		color: #fff;
  		padding: 200px 0 0px;
  		.breadcrump{
  			a{
  				color: #fff;
  			}
  			.breadcrumb-item{
				&.active{
					color: #9C9C9C;
				}
  			}
  		}
  		h1{
  			margin-bottom: 20px;
  			font-size: 45px;
  			@media (max-width: 991.98px) {
  				font-size: 35px;
  			}
  		}
  		h1 + p{
  			color: #F4F4F4;
			font-size: 21px;
			font-weight: 400;
			line-height: 31.50px;
			@media (max-width: 991.98px) {
				font-size: 18px;
				line-height: 27px;
			}
  		}
  		form{
  			background: #fff;
  			padding: 30px 60px 10px;
  			color: #212121;
  			p{
  				font-size: 18px;
				font-weight: 400;
				line-height: 27px;
				text-align: center;
  			}
  			@media (max-width: 991.98px) {
  				padding: 30px 30px 10px;
  			}
  		}
  		@media (max-width: 991.98px) {
  			padding: 100px 0 0;
  		}
  		@media (max-width: 575.98px) {
			background: url(../img/service_bg_m.webp) no-repeat;
			background-size: 100%;
			padding: 100px 0 0;
			background-position-y: 70px;
			margin-bottom: 0;

			.prod-wrap{
				padding: 0;
			}

			h1{
				padding: 0 15px;
			}
			h1 + p{
				color: #F4F4F4;
				font-size: 18px;
				font-weight: 400;
				line-height: 27px;
				padding: 0 15px;
			}

			form{
				padding: 30px 20px;
				margin-top: 10px;
			}
		}
	}

}
.completed{
	&.service{
		@media (max-width: 991.98px) {
			margin-bottom: 130px;
		}
	}
}
.compound{
	padding: 50px 0;
	h2{
		margin-top: 40px;
	}
	h5{
		text-transform: uppercase;
		font-size: 21px;
		margin-top: 10px;
	}
	&-wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 30px;
	}
	&-item{
		width: 48%;
		margin-bottom: 30px;
		background: var(--blue);
		padding: 20px;
		@media (max-width: 991.98px) {
			width: 100%;
		}
	}
	.item-container{
		color: #fff;
	}
	&-item-title{
		display: flex;
		margin-bottom: 15px;
		img{
			margin-right: 20px;
		}
	}
}

#clients-review{
	margin-bottom: 30px;
	.slider-item{
		text-align: center;
		background: #fff;
		padding: 30px;
		img{
			margin-bottom: 20px;
		}
		.autor-row{
			margin-top: 20px;
			font-weight: bold;
		}

	}
}

.call-row{
	background: url(../img/arc-welding-steel-construction-site.jpg) no-repeat;
	color: #fff;
	margin-bottom: 50px;
	margin-top: -80px;
	@media (max-width: 991.98px) {
		background: url(../img/arc-welding-steel-construction-site_m.jpg) no-repeat;
		background-size: cover;
	}
	

	h3 + p{
		font-size: 21px;
		font-weight: 400;
		line-height: 31.50px;
		span{

		}
	}
	.show-tooltip{
		text-decoration-style: dotted;
  		text-decoration-line: underline;
  		cursor: pointer;
	}
	.item-wrap {
	  position: relative;
	}
	.work-tooltip{
		display: none;
		position: absolute;
		background: #fff;
		padding: 35px;
		left: 100px;
		width: 100%;
		top: 50px;
		-webkit-transition: .3s;
		transition: .3s;
		overflow: hidden;
		height: 0;
		color: #212121;
		max-width: 400px;
		width: 100%;
		&.active{
			display: block;
			z-index: 33;
			height: auto;
		}
		@media (max-width: 991.98px) {
			left: 0;
			top: 100px;
		}
	}
	.input-row{
		display: flex;
		align-items: flex-start;
  		justify-content: space-between;
  		@media (max-width: 991.98px) {
  			flex-direction: column;
  		}
	}
	input{
		background: rgba(255, 255, 255, 0.10);
		border: 1px #E4E4E4 solid;
		color: #fff;
		margin-right: 20px;
		width: 33%;
		width: 100%;
  		padding: 23px 20px;
  		@media (max-width: 991.98px) {
  			margin-right: 0;
  			margin-bottom: 20px;
  		}
	}
	.form-check-label a{
		color: #fff;
	}
}

.competention-item{
	&.active{
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			background: var(--blue);
			opacity: .8;
		}
	}
}