<footer class="footer">
	<div class="container">
		
		<div class="row main-footer py-5">
			<div class="col-12 col-sm-6 col-md-3 mb-4">
				<div class="d-flex flex-sm-column logo-row">
					<a href="index.html">
						<img src="img/logo-white.svg" class="logo" alt="">
					</a>
					<a href="#" class="mt-5 btn blue" data-bs-toggle="modal" data-bs-target="#successModal">
						Заказать звонок
					</a>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-3 offset-md-1">
				<ul class="list-unstyled main-list">
					<li><a href="service.html">Токарная обработка</a></li>
					<li><a href="service.html">Фрезерная обработка</a></li>
					<li><a href="service.html">Шлифовальные работы</a></li>
					<li><a href="service.html">Штамповка деталей</a></li>
					<li><a href="service.html">Инструментальное производство</a></li>
					<li><a href="service.html">Литье деталей под давлением</a></li>
					<li><a href="service.html">Резка трубок из эластомеров</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-md-2">
				<div class="d-flex secondary-lists">
					<ul class="list-unstyled">
						<li><a href="production.html">Продукция</a></li>
						<li><a href="about.html">О компании</a></li>
						<li><a href="contact.html">Контакты</a></li>
						<li><a href="delivery.html">Доставка</a></li>
						<li><a href="reviews.html">Отзывы</a></li>
					</ul>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-3">
				<div class="d-flex flex-column">
					<div class="addres-wrapper d-flex mb-3">
						<img src="img/map_ico.svg" class="mt-2 mr-2" alt="">
						<div>
							пос. Балакирево,
							ул. Заводская, д.10
						</div>
					</div>	
					<div class="phone-wrapper d-flex align-items-start mb-3">
						<img src="img/phone_ico.svg" class="mt-2 mr-2" alt="">
						<a href="tel:+7(49244)7-44-37" class="nav-phone">
							<div>
								<b>+7 (49244) 7-44-37</b><br>
								<span class="mt-1 d-block">Пн-Пт 9:00 - 18:00</span>
							</div>
						</a>
						
						
					</div>

					<a href="mail-to:@info.com" class="mail my-3">
						<img src="img/mail_ico.svg" class="mr-2" alt="">
						info@info.com
					</a>
					<div class="d-flex mt-3">
						<a href="#" class="mr-3">
							<img src="img/vb_ico.svg" alt="">
						</a>
						<a href="#">
							<img src="img/tg_ico.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="py-4 d-flex justify-content-center">
		<img src="img/dot_blue.svg" class="desctop" alt="">
		<img src="img/dot_footer_m.svg" class="mobile" alt="">
	</div>
	<div class="copyright py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					© Балакиревский филиал АО «Газпром бытовые системы», 2023
				</div>
				<div class="col-md-2">
					<a href="#">Карта сайта</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="privacy-policy">Политика конфиденциальности</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="to-top"></div>

<div class="modal" id="callModal">
	<div class="modal-dialog">
    	<div class="modal-content">

			<div class="modal-wrapper" >
				<form>
					<div type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></div>
		            <h3>Заказать обратный звонок</h3>
		            <p>Оставьте ваши контакты и мы перезвоним вам в ближайшее рабочее время</p>

		            <div class="mb-3">
		                <input type="text" name="name" class="js-name" placeholder="Имя *">
		            </div>
		            <div class="mb-3">
		                <input type="phone" name="phone" class="js-phone_number" placeholder="Телефон *">
		            </div>

		            <div class="mb-3">
		                <textarea name="message" rows="6" placeholder="Сообщение"></textarea>
		            </div>

		            <button type="submit" class="btn blue w-100 mb-4">Отправить заявку</button>
		            <div class="mb-4">
		                <label class="form-check-label" for="policy">Нажимая кнопку “Отправить заявку”, вы соглашаетесь с <a href="privasy.html" class="form-privasy">политикой конфиденциальности</a></label>
		            </div>

		            <img src="img/dot_black.svg" alt="">
		            

		        </form>
			</div>
		</div>
	</div>
	<div class="modal-overflow"></div>
</div>

<div class="modal" id="successModal">
	<div class="modal-dialog">
    	<div class="modal-content">

			<div class="modal-wrapper" >
				<form class="">
					<div type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></div>
		            <h3>Спасибо! Ваша заявка принята</h3>
		            <p>После её обработки с вами свяжется менеджер</p> 

		            <button type="submit" class="btn blue px-5 my-4">OK</button>
		            

		            <img src="img/dot_black.svg" alt="">
		            

		        </form>
			</div>
		</div>
	</div>
	<div class="modal-overflow"></div>
</div>
