<nav class="@@class nav-head ">
	<div class="container desctop">
		<div class="navbar justify-content-between py-4">
			<div class="top-nav desctop">
		        <a class="navbar-brand" href="index.html">
		        	<img src="img/logo-white.svg" alt="">
		        </a>

				<a class="nav-link dropdown-toggle show-services" href="javascript:void(0)" >
            		Услуги
          		</a>

				<a href="" class="nav-link">Продукция</a>
				<a href="" class="nav-link">Контакты</a>
				<a href="" class="nav-link">О компании</a>
				<a href="" class="nav-link">Доставка</a>
			</div>

			<div class="addres-wrapper d-flex desctop">
				<img src="img/map_ico.svg" class="mt-2 mr-2" alt="">
				<div>
					пос. Балакирево,<br>
					ул. Заводская, д. 10
				</div>
			</div>

			<div class="phone-wrapper d-flex align-items-start ">
				<img src="img/phone_ico.svg" class="mt-2 mr-2" alt="">
				<a href="tel:+7(49244)7-44-37" class="nav-phone">
					<div>
						<b>+7 (49244) 7-44-37</b><br>
						<span>Пн-Пт 9:00 - 18:00</span>
					</div>
				</a>
			</div>

			<button class="btn blue" type="button" data-bs-toggle="modal" data-bs-target="#callModal" >Заказать звонок</button>
		</div>
	</div>
	<div class="main-nav">
	    <div class="container">
	    	<div class="navbar navbar-expand-lg">
		        <div class="phone-wrapper mb-0 d-flex mobile">
					<a class="navbar-brand" href="index.html">
			        	<img src="img/logo-white.svg" alt="">
			        </a>
					<button class="btn blue" type="button" data-bs-toggle="modal" data-bs-target="#callModal" >Заказать звонок</button>
				</div>
		        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		            <div class="navbar-nav">
		                <a class="nav-link" href="">Токарная обработка</a>
		                <a class="nav-link" href="">Фрезерная обработка</a>
		                <a class="nav-link" href="">Шлифовальные работы</a>
		                <a class="nav-link" href="">Штамповка</a>
		                <a class="nav-link" href="">Инструментальное производство</a>
		                <a class="nav-link" href="">Литье деталей</a>
		                <a class="nav-link" href="">Резка трубок</a>
		            </div>

		            <div class="mobile">
		            	<div class="top-nav ">
							<a href="" class="nav-link">Продукция</a>
							<a href="" class="nav-link">Контакты</a>
							<a href="" class="nav-link">О компании</a>
							<a href="" class="nav-link">Доставка</a>
						</div>

						<div class="dop-info">
							<div class="addres-wrapper d-flex desctop">
								<img src="img/map_ico.svg" class="mt-2 mr-2" alt="">
								<div>
									пос. Балакирево,<br>
									ул. Заводская, д. 10
								</div>
							</div>

							<div class="phone-wrapper d-flex align-items-start mb-3">
								<img src="img/phone_ico.svg" class="mt-2 mr-2" alt="">
								<a href="tel:+7(49244)7-44-37" class="nav-phone">
									<div>
										<b>+7 (49244) 7-44-37</b><br>
										<span>Пн-Пт 9:00 - 18:00</span>
									</div>
								</a>
							</div>

							<div class="social_wrap">
								<a href="mail-to:@info.com" class="mail my-3">
									<img src="img/mail_ico.svg" class="mr-2" alt="">
									info@info.com
								</a>
							</div>
							<div class="d-flex mt-3">
								<a href="#" class="mr-3">
									<img src="img/vb_ico.svg" alt="">
								</a>
								<a href="#">
									<img src="img/tg_ico.svg" alt="">
								</a>
							</div>
							<img src="img/m_dot_blue.svg" class="my-3" alt="">
							
						</div>

		            </div>
		        </div>

	    	</div>
	    </div>
		
	</div>
</nav>