<div class="review">
	<img src="img/review-bkt.svg" class="review-bkt" alt="">
	<p>Заказывал партию сложных деталей с допусками до 0.02, мастер выполнил работу идеально и сжатые сроки. Обращался в подобные организации, то не устроило цена, то сроки выполнения ТЗ. Буду обращаться теперь только к ним. Всем советую этих мастеров. Кроме слов благадарности, написать больше нечего.</p>

	<div class="autor-row">
		<img src="img/avatar.png" alt="">
		<p>Игорь Игоревич, Объединенная авиастроительная корпорация </p>
	</div>

	<img src="img/3_3_1.webp" class="review-img" alt="">

	<p class="work-review">Что было сделано:</p>
	<ul>
		<li><span>Заказывал партию сложных деталей с допусками до 0.02 мастер выполнил работу идеально и сжатые сроки.</span></li>
		<li><span>Обращался в подобные организации, то не устроило цена, то сроки выполнения ТЗ. </span></li>
		<li><span>Буду обращаться теперь только к ним. </span></li>
		<li><span>Всем советую этих мастеров. Кроме слов благадарности, написать больше нечего.</span></li>
	</ul>
</div>