@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
@include font-face("furore", "furore", 400);

@font-face {
    font-family: 'Furore';
    font-style: normal;
    font-weight: normal;
    src: local('Furore'), url('../fonts/Furore.woff') format('woff');
}
@font-face {
	font-family: "PlayRegular";  
	src: url("../fonts/Play-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
 
@font-face {
	font-family: "PlayBold";
	src: url("../fonts/Play-Bold.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}

body{
	color: #2D2D2D;
	font-size: 17px;
	background: #fff;
	font-family: 'PlayRegular', sans-serif;
	@media (max-width: 575.98px) {
		font-size: 15px;
	}
}
img {
  max-width: 100%;
}
.mr-2{
	margin-right: .5rem!important;
}
.mr-3{
	margin-right: 1rem!important;
}
.mr-4{
	margin-right: 1.5rem!important;
}
.mr-5{
	margin-right: 2rem!important;
}
h1{
	font-family: 'furore';
	font-size: 61px;
	font-weight: bold;
	@media (max-width: 575.98px) {
		font-size: 30px;
	}
}
h2{
	font-family: 'furore';
	font-size: 40px;
	font-weight: 600;
	@media (max-width: 575.98px) {
		font-size: 30px;
	}
}
h3{
	font-family: 'furore';
	font-size: 48px;
	font-weight: bold;
	@media (max-width: 575.98px) {
		font-size: 30px;
	}
}
h4{
	font-family: 'furore';
}
a{
	color: #2D2D2D;
	text-decoration: none;
}
p{
	margin-bottom: 15px;
}
label{
	font-size: 15px;
	@media (max-width: 575.98px) {
		font-size: 14px;
	}
}
.btn{
	font-family: 'furore';
	padding: 20px;
	border-radius: 0px;
	transition: all .3s;
	font-size: 17px;
	text-decoration: none!important;
	position: relative;
	&.blue{
		background: var(--blue);
		color: #fff;
	}
	&.white{
		background: #fff;
		color: var(--blue);
	}
	

}
.mobile{
	display: none!important;
}




.header{
	padding: 200px 0 90px;
	&.index-bg{
		background: url(../img/header_bg.webp) no-repeat;
	}
	h1{
		color: #fff;
		font-size: 80px;
		margin-top: 80px;
		span{
			font-size: 47px;
			display: block;
		}
	}
	.btn-row{
		.price{
			color: #fff;
			text-decoration: underline;
			margin-left: 30px;
			transition: all .3s;
			&:hover{
				color: var(--blue);
			}
		}
		.btn{
			padding: 20px 50px;
		}
	}
	.main-sub-block{
		color: #fff;
		background: var(--blue);
		display: flex;
		margin-top: 200px;
		padding: 15px 0;
		.sub-item{
			padding: 40px;
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 25%;
			&:not(:last-child){
				border-right: 1px solid #6899ED; 
			}
			span{
				margin-bottom: 60px;
				display: block;
				font-family: 'furore';
				line-height: 60px;
				b{
					font-size: 67px;
				}
			}
		}
	}
}

.competention{
	h2{
		font-size: 50px;
		font-weight: 400;
		margin-bottom: 20px;
	}
	&-wrapper{
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}
	&-item{
		position: relative;
		max-width: 25%;
		color: #fff;
		font-family: 'furore';
		display: flex;
		h5{
			font-size: 29px;
		}
		img{
			width: 100%;
			transition: all .3s;
		}
		div{
			padding: 30px;
			position: absolute;
			z-index: 22;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: baseline;
			height: 100%;
		}
		p{
			font-size: 18px;
			font-family: 'PlayRegular', sans-serif;
			position: relative;
			top: 70px;
			opacity: 0;
			transition: all .3s;
		}
		a{
			color: #fff;
			border: 1px solid #fff;
			padding: 15px 20px;
		}
		&:hover{
			img{
				filter: brightness(50%);
			}
			p{
				top: 0px;
				opacity: 1;
			}
			a.btn{
				background: var(--blue);
				border: 1px solid var(--blue);
			}
		}
		&:last-child{
			display: block;
			a{
				color: #000;
				display: block;
				font-size: 29px;
				text-align: left;
				padding: 0;
				img{
					width: auto;
				}
				&:hover{
					img{
						animation: arrow-bounce-right 2s linear 0s infinite normal forwards;
					}
				}
			}
			.arrow-wrap{
				position: relative;
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
			}
			.dotted{
				position: relative;
				top: -80px;
			}
		}
	}
}


.advantage{
	margin-top: 100px;
	&-title{
		text-transform: uppercase;
		color: #21212191;
		font-size: 16px;
		font-weight: bold;
	}
	.nav-pills{
		.nav-link{
			text-align: left;
			font-size: 47px;
			font-weight: bold;
			font-family: 'furore';
			transition: all .3s;
			color: #212121;
			&:hover{
				opacity: .8;
			}
			&.active{
				background: transparent;
				color: var(--blue);
				padding-left: 35px;
				opacity: 1;
			}
		}
	}
	.tab-content{
		p{
			margin-bottom: 5px;
		}
	}
	h5{
		margin-bottom: 20px;
		font-family: 'furore';
		font-size: 21px;
	}
	.full-width{
		font-size: 216px;
		overflow: hidden;
		color: #2121211f;
		margin-top: 80px;
		font-weight: 700;
		font-family: furore;
		white-space: nowrap;
		line-height: 185px;
		margin-bottom: 0;
	}
}
.about{
	background: url(../img/about_bg.webp) no-repeat;
	color: #fff;
	padding-top: 80px;
	h3{
		margin-bottom: 30px;
	}
	.info-wrap{
		padding-right: 80px;
	}
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	&-item{
		width: 50%;
		border-left: 1px solid #6899ed;
		padding: 20px;
		margin-bottom: 30px;
		img{
			margin-bottom: 30px;
		}
		h4{
			font-size: 21px;
			margin-bottom: 20px;
		}
	}
}

.work-order{
	background: var(--blue);
	margin-bottom: 150px;
	.container{
		position: relative;
		top: 100px;
	}
	h3{
		font-size: 50px;
		color:#fff;
	}
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}
	&-item{
		width: 33%;
		padding: 15px;
		display: flex;
		position: relative;
		.number{
			font-size: 50px;
			font-family: 'furore';
			color: var(--blue);
		}
		.item-wrap{
			padding: 20px 50px;
			background: #F3F3F3;
		}
		a{
			color: var(--blue);
			text-decoration-style: dotted;
  			text-decoration-line: underline;
  			font-weight: bold;
  			transition: all .3s;
  			&:hover{
  				text-decoration: none;
  			}
		}
		&:last-child{
			.item-wrap{
				border: 1px solid #fff;
				background: var(--blue);
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: baseline;
			}
		}
		&:not(:last-child, :nth-child(3), :nth-child(5)){
			&:after{
				content: url(../img/arrow-white.svg);
				display: block;
				width: 15px;
				height: 15px;
				position: absolute;
				right: -6px;
				top: 50%;
			}
		}
	}
}
.completed{
	h3{

	}
	.nav-pills{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 12px;
		.nav-link{
			background: #F3F3F3;
			color: #212121;
			height: 100%;
			border-radius: 0px;
			&.active{
				color:#fff;
				background: var(--blue);
			}
		}
		.nav-item{
			height: 100%;
		}
	}
	.slider-item{
		position: relative;
		.slide-info{
			position: absolute;
			bottom: -250px;
			padding: 50px;
			color: #fff;
			transition: all .3s;
			h5{
				font-size: 28px;
				font-family: 'furore';
				margin-bottom: 40px;	
			}
			.slide-more-info{
				font-weight: bold;
				font-size: 17px;
				dt{
					color: var(--blue);
					margin-right: 30px;
					display: inline-block;
					float: left;
					width: 75px;
					margin-bottom: 20px;
				}
				dd{
					padding-left: 105px;
					margin-bottom: 20px;
				}
				ol{
					padding-left: 20px;
				}
			}
			.supernatant{
				opacity: 0;
				transition: all .3s;
			}
		}
		&:hover{
			.slide-info{
				position: absolute;
				bottom: 0px;
			}
			.supernatant{
				opacity: 1;
			}
		}
	}
	.slider-controls{
		display: flex;
		justify-content: flex-end;
  		margin-top: 20px;
		.control-btn{
			width: 55px;
			height: 55px;
			border: 1px solid #cbcbcb;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			&.active{
				border: 1px solid var(--blue);
				background: var(--blue);
			}
		}
	}
	.lSAction {
		display: flex;
		position: relative;
		justify-content: flex-end;
		margin-top: 30px;
		a{
			position: static;
			width: 55px;
			height: 55px;
			border: 1px solid #cbcbcb;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			opacity: 1;
			&.lSNext{
				rotate: 180deg;
				margin-left: 20px;
			}
			&:hover{
				border: 1px solid var(--blue);
				background: var(--blue);
			}
		}
	}

}
.individual_form{
	background: var(--blue);
	color: #fff;
	margin-top: 80px;
	padding: 80px 0 0;
	max-height: 700px;
  	margin-bottom: 250px;
  	&_title{
  		padding-right: 80px;
  		font-size: 21px;
  	}
  	h3{
  		margin: 50px 0 40px;
		font-weight: normal;
  	}
  	a{
  		color:#fff;
  	}
	form{
		background: #fff;
		color: #212121;
		padding: 30px 50px;
		max-width: 600px;
		h3{
			font-size: 30px;
			margin: 0px 0 20px;
			text-align: center;
		}
		p{
			text-align: center;
		}
	}
	.more-info{
		color:#212121;
		margin-top: 120px;
	}
}
// ================ FORM ====================
.form-check-input[type=checkbox] {
    border-radius: 0;
}
.file-input__wrapper{
	text-align: left;
	position: relative;
	label{
		cursor: pointer;
	}
}
input,
textarea{
	border-radius: 0;
	outline: none;
	width: 100%;
	border: 1px solid #E4E4E4;
	padding: 20px;
	box-shadow: none!important;
	&.error{
		border: 1px solid #FF7070!important;
	}
}
.input__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.form-check{
	text-align: left;
}
.clients{
	h4{
		font-size: 50px;
	}
	&-wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
		img{
			filter: saturate(0%);
			transition: all .3s;
			&:hover{
				filter: saturate(100%);
			}
		}
	}
}

footer{
	background: #141F2C;
	color: #C9C9C9;
	a{
		color: #C9C9C9;
	}
	.logo{
		width: 100%;
	}
	svg.img{
		width: 14px;
	}
	ul{
		li{
			margin-bottom: 15px;
			a{
				color: #C9C9C9;
				position: relative;
				transition: all .3s;
				
				&:hover{
					color: var(--blue);
				}
			}
		}
	}
}
.addres-wrapper{
	align-items: flex-start;
}

.to-top{
	border: 1px solid #fff;
	position: fixed;
	bottom: 100px;
	right: 50px;
	opacity: 0;
	width: 53px;
	height: 53px;
	cursor: pointer;
	&:after{
		content: url('../img/blue_arrow.svg');
		display: block;
		transform: rotate(-90deg);
	}
	&.active{
		display: block;
		opacity: 1;
	}
}
// ====================== MODAL ========================

.modal{
	&-wrapper{
		padding: 30px 40px;

		h3{
			font-size: 24px;
			text-align: center;
			margin-bottom: 15px;
		}
		p{
			text-align: center;
		}
	}
}
#successModal{
	text-align: center;
}

@media (max-width: 1199.98px) {
	.container{
		max-width: 100%;
    	padding: 0 15px;
	}
	.main-head{
		.btn{
			max-width: 140px;
			padding: 5px 20px;
		}
	}
}
@media (max-width: 991.98px) {
	.desctop{
		display: none;
	}
	.mobile{
		display: block !important;
		.top-nav {
			flex-direction: column;
			text-align: left;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			a{
				display: block;
				width: 100%;
    			padding: 10px;
			}
		}
	}
	.nav-head {
		background: #fff;
		a{
			color: #212121;
		}
		.addres-wrapper{
			display: flex!important;
			color: #212121;
			margin: 20px 0;
		}
		.dop-info{
			background: #F3F3F3;
		}
	}
	.navbar-brand{
		img{
			filter: invert(100%);
		}
	}
	.navbar-toggler {
		border: none !important;
		box-shadow: none!important;
		outline: 0!important;
	}
}